{% extends 'tisdac_app/base.html' %}

{% load static %}

{% block title %}Enter new password{%endblock %}

{% block content %}

	<body>
		<div class="page-wrap">
			{% include 'includes/header_2.html' %}



			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section js-consult-form" style="background-color:#f7f7f7;">
					<div class="container">
                       <!-- templates/registration/password_reset_confirm.html -->

						{% if validlink %}

						<h4>Set a new password.</h4>
						<form method="POST">
						  {% csrf_token %}
						  {{ form.as_p }}
						  <input type="submit" value="Change my password">
						</form>

						{% else %}

						<h5>The password reset link was invalid, possibly because it has already been used.</h5>
							<h5>Please request a new password reset.</h5>

						{% endif %}
                      
					</div>
				</section>

				<!-- End / Section -->

			</div>
			<!-- End / Content-->

			{% include 'includes/footer.html' %}
		</div>

{% endblock %}