{% extends 'tisdac_app/base.html' %}

{% load static %}

{% block title %}Email Sent{%endblock %}

{% block content %}

	<body>
		<div class="page-wrap">
			{% include 'includes/header_2.html' %}



			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section js-consult-form" style="background-color:#f7f7f7;">
					<div class="container">

                        <!-- templates/registration/password_reset_done.html -->
                        <h4>Check your email box.</h4>
                        <p>We've emailed you instructions for setting your password. You should receive the email shortly.</p>

					</div>
				</section>

				<!-- End / Section -->

			</div>
			<!-- End / Content-->

			{% include 'includes/footer.html' %}
		</div>

{% endblock %}