{% extends 'tisdac_app/base.html' %}

{% load static %}

{% block title %}Password reset complete{%endblock %}

{% block content %}

	<body>
		<div class="page-wrap">
			{% include 'includes/header_2.html' %}



			<!-- Content-->
			<div class="md-content">

				<!-- Section -->
				<section class="md-section js-consult-form" style="background-color:#f7f7f7;">
					<div class="container">
                       <!-- templates/registration/password_reset_complete.html -->
                        <h4>Password reset complete</h4>
                        <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}"><b>log in page</b></a>.</p>

					</div>
				</section>

				<!-- End / Section -->

			</div>
			<!-- End / Content-->

			{% include 'includes/footer.html' %}
		</div>

{% endblock %}