{% extends 'tisdac_app/base.html' %}

{% load static %}

{% block title %}Contact{%endblock %}

{% block content %}
	
	<body>
		<div class="page-wrap">
			{% include 'includes/header_2.html' %}


			
			<!-- Content-->
			<div class="md-content">
				
				<!-- Section -->
				<section class="md-section js-consult-form" style="background-color:#f7f7f7;">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-0 offset-sm-0 offset-md-0 offset-lg-3 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">Contact Details</h2>
									<div style='font-size:30px;' >Tallinn International Seventh-day Adventist Church</div>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-email"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Email</a></h2>
										<div class="iconbox__description">tisdachurch@gmail.com</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-location-pin"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">location</a></h2>
										<div class="iconbox__description">10111, Mere pst. 3, Kesklinna linnaosa, Tallinn, <br>Harju maakond, Estonia</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-mobile"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Facebook</a></h2>
										<div class="iconbox__description"><a href="https://www.facebook.com/tisdac/">Facebook/tisdac</a></div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
						</div>

						<div  align="center"><iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
									src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJeyitBWGTkkYRtt4HWdbnKtk&key=AIzaSyB4-gCdObs7ZeD008aAOouBCVzH8QuxLqw"></iframe>
						</div>
						<!-- form-01 -->

						<div class="form-01 consult-form js-consult-form__content" id="form01">

							<h2 class="form-01__title">Give Us Your Feedback or <b>Request</b></h2>
							<form class="form-01__form" method="post">
								{% csrf_token %}
								{% for field in form %}
								{% if field.name == "feedback" %}
								<div class = "form__item">
            						{{ field.label_tag }}
									{{ field.errors }}
            						{{ field }}
        						</div>
								{% else %}
								<div class = "form__item form__item--03">
            						{{ field.label_tag }}
									{{ field.errors }}
            						{{ field }}
        						</div>
								{% endif %}
        						{% endfor %}
								<button type="submit" class="btn btn-primary btn-w180" >Send</button>

							</form>
						</div><!-- End / form-01 -->



					</div>
				</section>

				<!-- End / Section -->

				<!-- Section -->
				<section class="md-section" >
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-0 offset-sm-0 offset-md-0 offset-lg-3">
								<!-- title-01 -->
								<div class="title-01 title-01__style-05">
									<h6 class="title-01__subTitle">what’s next</h6>
									<h2 class="title-01__title">We Are Looking Forward to  <a href="#form01" class="clickScroll">Meet YOU</a></h2>
								</div><!-- End / title-01 -->


							</div>
						</div>
					</div>
				</section>-->
				<!-- End / Section -->


			</div>
			<!-- End / Content-->

			{% include 'includes/footer.html' %}
		</div>

{% endblock %}