{% load static %}


<!-- footer -->
			<footer class="footer">
				<div class="footer__main">

					<div class="row row-eq-height">
						<div class="col-8 col-sm-7 col-md-9 col-lg-3 ">
							<div class="footer__item"><a class="consult_logo" href="/"><img src="{% static 'tisdac_app/img/logo.png' %}" alt=""/></a>
								<p></p>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
							<div class="footer__item">

									<!-- widget-text__widget -->
									<section class="widget-text__widget widget">
										<div class="widget-text__content">
											<ul>
												<li><a href="#"></a></li>

											</ul>
										</div>
									</section><!-- End / widget-text__widget -->

							</div>
						</div>

						<div class="col-md-4 col-lg-2 col-xl-2 ">
							<div class="footer__item">



							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  consult_backToTop">
							<div class="footer__item"><a href="#" id="back-to-top"> <i class="fa fa-angle-up" aria-hidden="true"> </i><span>Back To Top</span></a></div>

						</div>
						<div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">
							<!-- widget-text__widget -->
									<section class="widget-text__widget widget">
										<div class="widget-text__content">
											<ul>
												{% if request.user.is_authenticated %}
												<li><b>{{ user.username }}</b><a href="{% url 'logout' %}">Log out</a></li>
												{% else %}
												<li><a href="{% url 'register' %}">Sign up</a><a href="{% url 'login' %}">Log in</a></li>
												{% endif %}

											</ul>
										</div>
									</section><!-- End / widget-text__widget -->

						</div>
					</div>
				</div>
				<div class="footer__copyright">2023 &copy;Tallinn International Seventh-day Adventist Church</div>
			</footer><!-- End / footer -->